       
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="topnav">

  </div>

  <div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Skills can be only added by Manager</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputText" name="skill"
                        [(ngModel)]="theSkillEntry.skill">

                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input type="submit" (click)="addSkill()" class="btnSubmit" value="Add" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">

        </div>
    </div>
</div>
