.searchassociates{
    width:100%
}
.searchCriteria{
    margin-top: 20px;
    width:60%
}
/* #sect1 {  
    background-image: url("../../assets/images/background.jpg");  
    background-size: 100% ;  
    background-size: cover;  
}  */
.profilepicture{
    height:100px;
    width:100px;
}
.infoHeading{
    background-color: black;
    color: white;
}
.searchMechanism{
    margin-top: 30px;
    margin-left: 30%;
}
.searchAll{
    margin-left: 20%;
}
.associateDetails>div{
    margin: 20px;
}
.addAssociate{
    float: right;
}